.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.overlay-logo-1 {
  height: 60px;
  width: 144px;
}

.line-2 {
  height: 1px;
  width: 130px;
}

.line-2-1 {
  height: 1px;
  margin-top: 3px;
  width: 130px;
}

.line-3 {
  height: 1px;
  width: 256px;
}

.icon-4 {
  height: 30px;
  width: 30px;
}

.icon-3 {
  height: 35px;
  width: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
