@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
* {
  box-sizing: border-box;
}
.iphone-11-pro-x-1 {
  background-color: white;
  height: 3897px;
  position: relative;
  width: 375px;
}
.iphone-11-pro-x-1 .about {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.iphone-11-pro-x-1 .app-beta {
  left: 62px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 590px;
}
.iphone-11-pro-x-1 .card-header-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 16px;
  min-height: 43px;
  position: absolute;
  top: 525px;
  width: 193px;
}
.iphone-11-pro-x-1 .card-header-1-1 {
  left: 23px;
  top: 1011px;
}
.iphone-11-pro-x-1 .card-header-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 29px;
  min-height: 32px;
  position: absolute;
  top: 1556px;
  width: 131px;
}
.iphone-11-pro-x-1 .card-header-2-1 {
  left: 27px;
  top: 1772px;
}
.iphone-11-pro-x-1 .card-header-2-2 {
  left: 32px;
  top: 1988px;
}
.iphone-11-pro-x-1 .card-header-2-3 {
  left: 27px;
  top: 2188px;
}
.iphone-11-pro-x-1 .card-header-2-4 {
  top: 2398px;
}
.iphone-11-pro-x-1 .discord {
  left: 62px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 841px;
}
.iphone-11-pro-x-1 .github {
  left: 50px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 2796px;
}
.iphone-11-pro-x-1 .github-1 {
  height: 24px;
  left: 18px;
  position: absolute;
  top: 2792px;
  width: 24px;
}
.iphone-11-pro-x-1 .line-1 {
  height: 1px;
  width: 193px;
}
.iphone-11-pro-x-1 .line-11 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 287px;
}
.iphone-11-pro-x-1 .line-12 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 192px;
}
.iphone-11-pro-x-1 .line-2 {
  height: 1px;
  left: 23px;
  position: absolute;
  top: 1102px;
  width: 130px;
}
.iphone-11-pro-x-1 .line-2-1 {
  height: 1px;
  margin-top: 3px;
  width: 130px;
}
.iphone-11-pro-x-1 .line-3 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 256px;
}
.iphone-11-pro-x-1 .line-4 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 336px;
}
.iphone-11-pro-x-1 .line-5 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 288px;
}
.iphone-11-pro-x-1 .line-6 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 254px;
}
.iphone-11-pro-x-1 .line-7 {
  height: 1px;
  left: 23px;
  position: absolute;
  top: 1192px;
  width: 130px;
}
.iphone-11-pro-x-1 .line-8 {
  height: 1px;
  left: 23px;
  position: absolute;
  top: 1284px;
  width: 130px;
}
.iphone-11-pro-x-1 .links {
  letter-spacing: 0px;
  min-height: 42px;
  min-width: 90px;
  text-align: left;
}
.iphone-11-pro-x-1 .medium {
  left: 62px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 904px;
}
.iphone-11-pro-x-1 .medium-512-1 {
  height: 31px;
  left: 19px;
  position: absolute;
  top: 900px;
  width: 30px;
}
.iphone-11-pro-x-1 .metacartel {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3743px;
}
.iphone-11-pro-x-1 .number {
  left: 16px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 214px;
}
.iphone-11-pro-x-1 .number-1 {
  left: 16px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 292px;
}
.iphone-11-pro-x-1 .number-2 {
  left: 16px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 407px;
}
.iphone-11-pro-x-1 .number-3 {
  left: 26px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2982px;
}
.iphone-11-pro-x-1 .number-4 {
  left: 26px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3042px;
}
.iphone-11-pro-x-1 .number-5 {
  left: 26px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3102px;
}
.iphone-11-pro-x-1 .number-6 {
  left: 26px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3162px;
}
.iphone-11-pro-x-1 .number-7 {
  left: 26px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3222px;
}
.iphone-11-pro-x-1 .oip {
  left: 50px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 2687px;
}
.iphone-11-pro-x-1 .other-data {
  left: 23px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1252px;
}
.iphone-11-pro-x-1 .our-stakeholders {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.iphone-11-pro-x-1 .overlap-group {
  height: 42px;
  left: 18px;
  position: absolute;
  top: 2620px;
  width: 288px;
}
.iphone-11-pro-x-1 .overlap-group1 {
  height: 42px;
  left: 16px;
  position: absolute;
  top: 156px;
  width: 256px;
}
.iphone-11-pro-x-1 .overlap-group2 {
  height: 42px;
  left: 23px;
  position: absolute;
  top: 3330px;
  width: 192px;
}
.iphone-11-pro-x-1 .overlap-group3 {
  height: 42px;
  left: 26px;
  position: absolute;
  top: 2924px;
  width: 254px;
}
.iphone-11-pro-x-1 .overlap-group4 {
  height: 42px;
  left: 22px;
  position: absolute;
  top: 3572px;
  width: 287px;
}
.iphone-11-pro-x-1 .overlap-group5 {
  height: 42px;
  left: 16px;
  position: absolute;
  top: 1423px;
  width: 336px;
}
.iphone-11-pro-x-1 .overlay-lo--circles-1 {
  height: 26px;
  left: 18px;
  position: absolute;
  top: 2684px;
  width: 24px;
}
.iphone-11-pro-x-1 .overlay-logo-1 {
  height: 60px;
  left: 16px;
  position: absolute;
  top: 32px;
  width: 144px;
}
.iphone-11-pro-x-1 .para-fi {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3689px;
}
.iphone-11-pro-x-1 .polychain {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3635px;
}
.iphone-11-pro-x-1 .rectangle-15 {
  height: 184px;
  left: 171px;
  position: absolute;
  top: 1497px;
  width: 184px;
}
.iphone-11-pro-x-1 .rectangle-16 {
  height: 160px;
  left: 181px;
  position: absolute;
  top: 1725px;
  width: 160px;
}
.iphone-11-pro-x-1 .rectangle-17 {
  height: 160px;
  left: 181px;
  position: absolute;
  top: 2136px;
  width: 160px;
}
.iphone-11-pro-x-1 .rectangle-18 {
  height: 160px;
  left: 186px;
  position: absolute;
  top: 1936px;
  width: 160px;
}
.iphone-11-pro-x-1 .rectangle-19 {
  height: 160px;
  left: 183px;
  position: absolute;
  top: 2351px;
  width: 160px;
}
.iphone-11-pro-x-1 .span1 {
  color: rgba(51, 51, 51, 1);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
}
.iphone-11-pro-x-1 .span2 {
  color: rgba(51, 51, 51, 1);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  text-decoration: underline;
}
.iphone-11-pro-x-1 .streams {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.iphone-11-pro-x-1 .technical {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.iphone-11-pro-x-1 .telegram {
  left: 62px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 776px;
}
.iphone-11-pro-x-1 .telegram-512-1 {
  height: 35px;
  left: 16px;
  position: absolute;
  top: 770px;
  width: 35px;
}
.iphone-11-pro-x-1 .text-1 {
  left: 64px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 214px;
  width: 210px;
}
.iphone-11-pro-x-1 .text-10 {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 590px;
}
.iphone-11-pro-x-1 .text-2 {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2714px;
  width: 258px;
}
.iphone-11-pro-x-1 .text-3 {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2823px;
  width: 258px;
}
.iphone-11-pro-x-1 .text-4 {
  left: 74px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 3045px;
  width: 210px;
}
.iphone-11-pro-x-1 .text-5 {
  left: 74px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 3105px;
  width: 210px;
}
.iphone-11-pro-x-1 .text-6 {
  left: 74px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 3165px;
  width: 210px;
}
.iphone-11-pro-x-1 .text-7 {
  left: 74px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 3225px;
  width: 210px;
}
.iphone-11-pro-x-1 .text-8 {
  left: 21px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3388px;
  width: 258px;
}
.iphone-11-pro-x-1 .text-9 {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 646px;
}
.iphone-11-pro-x-1 .the-lao {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3716px;
}
.iphone-11-pro-x-1 .total-supply {
  left: 23px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1070px;
}
.iphone-11-pro-x-1 .total-supply-1 {
  letter-spacing: 0px;
  min-height: 28px;
  min-width: 118px;
  text-align: left;
}
.iphone-11-pro-x-1 .tvl {
  left: 23px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1161px;
}
.iphone-11-pro-x-1 .twitter {
  left: 62px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 708px;
}
.iphone-11-pro-x-1 .twitter-3 {
  height: 36px;
  left: 16px;
  position: absolute;
  top: 702px;
  width: 36px;
}
.iphone-11-pro-x-1 .what-is-overlay {
  left: 74px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 2986px;
  width: 210px;
}
.iphone-11-pro-x-1 .whitepaper-v2 {
  left: 62px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 644px;
}
.iphone-11-pro-x-1 .why {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.iphone-11-pro-x-1 .writings {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.iphone-11-pro-x-1 .x0005743-eth {
  left: 32px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2028px;
}
.iphone-11-pro-x-1 .x001263-eth {
  left: 29px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2438px;
}
.iphone-11-pro-x-1 .x007131-eth {
  left: 27px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1812px;
}
.iphone-11-pro-x-1 .x01516-eth {
  left: 29px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1596px;
}
.iphone-11-pro-x-1 .x102482987-ovl {
  left: 21px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1118px;
}
.iphone-11-pro-x-1 .x102482987-ovl-1 {
  left: 21px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1209px;
}
.iphone-11-pro-x-1 .x102482987-ovl-2 {
  left: 21px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1300px;
}
.iphone-11-pro-x-1 .x1kx {
  left: 22px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 3662px;
}
.iphone-11-pro-x-1 .x3095-eth {
  left: 27px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2228px;
}
.iphone-11-pro-x-1 .x91-discor-ogos-512-1 {
  height: 31px;
  left: 19px;
  position: absolute;
  top: 837px;
  width: 30px;
}
.roboto-bold-bon-jour-24px {
  color: var(--bon-jour);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-mine-shaft-24px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-mine-shaft-36px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.roboto-normal-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-mine-shaft-16px-2 {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
}
.roboto-normal-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-mine-shaft-24px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --bon-jour: rgba(224, 224, 224, 1);
  --mine-shaft: rgba(51, 51, 51, 1);
}
