@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:900,400,700");
* {
  box-sizing: border-box;
}
.macbook-3 {
  background-color: white;
  height: 2273px;
  position: relative;
  width: 1152px;
}
.macbook-3 .about {
  left: 0px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
}
.macbook-3 .button-primary {
  align-items: flex-end;
  background-color: var(--concrete);
  border-radius: 4px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 0px;
  min-width: 232px;
  padding: 10px 71px;
  position: absolute;
  box-shadow: 1px 1px #888888;
  top: 0px;
}
.macbook-3 .card-header-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 455px;
  min-height: 43px;
  position: absolute;
  top: 169px;
  width: 193px;
}
.macbook-3 .card-header-1-1 {
  left: 782px;
}
.macbook-3 .card-header-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 48px;
  min-height: 32px;
  position: absolute;
  top: 740px;
  width: 131px;
}
.macbook-3 .card-header-2-1 {
  left: 467px;
}
.macbook-3 .card-header-2-2 {
  top: 1188px;
}
.macbook-3 .card-header-2-3 {
  top: 969px;
}
.macbook-3 .card-header-2-4 {
  left: 467px;
  top: 969px;
}
.macbook-3 .telegram {
  left: 501px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 497px;
}
.macbook-3 .x91-discor-ogos-512-1 {
  height: 35px;
  left: 455px;
  position: absolute;
  top: 426px;
  width: 35px;
}
.macbook-3 .discord {
  left: 501px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 432px;
}
.macbook-3 .github {
  left: 82px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1621px;
}
.macbook-3 .github-1 {
  height: 24px;
  left: 48px;
  position: absolute;
  top: 1617px;
  width: 24px;
}
.macbook-3 .launch {
  align-items: center;
  display: flex;
  height: 16px;
  left: 166px;
  padding: 0 2px;
  position: absolute;
  top: 12px;
  width: 16px;
}
.macbook-3 .launch-app {
  letter-spacing: 0px;
  min-height: 19px;
  min-width: 87px;
  text-align: center;
}
.macbook-3 .line-1 {
  height: 1px;
  width: 193px;
}
.macbook-3 .line-11 {
  height: 1px;
  left: 443px;
  position: absolute;
  top: 1898px;
  width: 277px;
}
.macbook-3 .line-12 {
  height: 1px;
  left: 48px;
  position: absolute;
  top: 1912px;
  width: 192px;
}
.macbook-3 .line-2 {
  height: 1px;
  left: 785px;
  position: absolute;
  top: 260px;
  width: 130px;
}
.macbook-3 .line-2-1 {
  height: 1px;
  margin-top: 3px;
  width: 130px;
}
.macbook-3 .line-3 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 256px;
}
.macbook-3 .line-4 {
  height: 1px;
  left: 48px;
  position: absolute;
  top: 660px;
  width: 880px;
}
.macbook-3 .line-5 {
  height: 1px;
  left: 48px;
  position: absolute;
  top: 1486px;
  width: 288px;
}
.macbook-3 .line-6 {
  height: 1px;
  left: 444px;
  position: absolute;
  top: 1486px;
  width: 254px;
}
.macbook-3 .line-7 {
  height: 1px;
  left: 785px;
  position: absolute;
  top: 350px;
  width: 130px;
}
.macbook-3 .line-8 {
  height: 1px;
  left: 785px;
  position: absolute;
  top: 442px;
  width: 130px;
}
.macbook-3 .links {
  letter-spacing: 0px;
  min-height: 42px;
  min-width: 90px;
  text-align: left;
}
.macbook-3 .medium {
  left: 501px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 560px;
}
.macbook-3 .medium-512-1 {
  height: 31px;
  left: 458px;
  position: absolute;
  top: 556px;
  width: 30px;
}
.macbook-3 .metacartel {
  left: 443px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2027px;
}
.macbook-3 .number {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 228px;
}
.macbook-3 .number-1 {
  left: 444px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1503px;
}
.macbook-3 .number-2 {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 298px;
}
.macbook-3 .number-3 {
  left: 444px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1563px;
}
.macbook-3 .number-4 {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 368px;
}
.macbook-3 .number-5 {
  left: 444px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1623px;
}
.macbook-3 .number-6 {
  left: 444px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1683px;
}
.macbook-3 .number-7 {
  left: 444px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1743px;
}
.macbook-3 .oip {
  left: 82px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1512px;
}
.macbook-3 .other-data {
  left: 785px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 410px;
}
.macbook-3 .our-stakeholders {
  left: 443px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1855px;
}
.macbook-3 .overlap-group {
  height: 42px;
  left: 48px;
  position: absolute;
  top: 170px;
  width: 256px;
}
.macbook-3 .overlap-group1 {
  border-radius: <codegenerator_web.anima_models.admodel_corner_radius.ADModelCornerRadius object at 0x7fdef115e280>px;
  height: 40px;
  left: 453px;
  position: absolute;
  top: 236px;
  width: 232px;
}
.macbook-3 .overlap-group2 {
  height: 12px;
  position: relative;
  width: 12px;
}
.macbook-3 .overlay-lo--circles-1 {
  height: 26px;
  left: 48px;
  position: absolute;
  top: 1509px;
  width: 24px;
}
.macbook-3 .overlay-logo-1 {
  height: 60px;
  left: 48px;
  position: absolute;
  top: 32px;
  width: 144px;
}
.macbook-3 .para-fi {
  left: 443px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1973px;
}
.macbook-3 .polychain {
  left: 443px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1919px;
}
.macbook-3 .rectangle-15 {
  height: 184px;
  left: 190px;
  position: absolute;
  top: 681px;
  width: 184px;
}
.macbook-3 .rectangle-16 {
  height: 160px;
  left: 621px;
  position: absolute;
  top: 693px;
  width: 160px;
}
.macbook-3 .rectangle-17 {
  height: 160px;
  left: 621px;
  position: absolute;
  top: 917px;
  width: 160px;
}
.macbook-3 .rectangle-18 {
  height: 160px;
  left: 202px;
  position: absolute;
  top: 917px;
  width: 160px;
}
.macbook-3 .rectangle-19 {
  height: 160px;
  left: 202px;
  position: absolute;
  top: 1141px;
  width: 160px;
}
.macbook-3 .span1 {
  color: rgba(51, 51, 51, 1);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
}
.macbook-3 .span2 {
  color: rgba(51, 51, 51, 1);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  text-decoration: underline;
}
.macbook-3 .streams {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 617px;
}
.macbook-3 .technical {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1444px;
}

.macbook-3 .text-1 {
  left: 98px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 228px;
  width: 210px;
}
.macbook-3 .text-10 {
  left: 43px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 11px;
}
.macbook-3 .text-2 {
  left: 492px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1566px;
  width: 210px;
}
.macbook-3 .text-3 {
  left: 492px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1626px;
  width: 210px;
}
.macbook-3 .text-4 {
  left: 492px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1686px;
  width: 210px;
}
.macbook-3 .text-5 {
  left: 492px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1746px;
  width: 210px;
}
.macbook-3 .text-6 {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1928px;
  width: 258px;
}
.macbook-3 .text-7 {
  left: 80px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1539px;
  width: 258px;
}
.macbook-3 .text-8 {
  left: 80px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1648px;
  width: 258px;
}
.macbook-3 .text-9 {
  left: 461px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 302px;
}
.macbook-3 .the-lao {
  left: 443px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2000px;
}
.macbook-3 .total-supply {
  left: 785px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 228px;
}
.macbook-3 .total-supply-1 {
  letter-spacing: 0px;
  min-height: 28px;
  min-width: 118px;
  text-align: left;
}
.macbook-3 .tvl {
  left: 785px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 319px;
}
.macbook-3 .twitter {
  left: 501px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 364px;
}
.macbook-3 .twitter-3 {
  height: 36px;
  left: 455px;
  position: absolute;
  top: 358px;
  width: 36px;
}
.macbook-3 .vector {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}
.macbook-3 .vector-1 {
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.macbook-3 .what-is-overlay {
  left: 492px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1507px;
  width: 210px;
}
.macbook-3 .whitepaper-v2 {
  left: 501px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 300px;
}
.macbook-3 .why {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1869px;
}
.macbook-3 .writings {
  left: 444px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1444px;
}
.macbook-3 .x0005743-eth {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1009px;
}
.macbook-3 .x001263-eth {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1228px;
}
.macbook-3 .x007131-eth {
  left: 467px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 780px;
}
.macbook-3 .x01516-eth {
  left: 48px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 780px;
}
.macbook-3 .x102482987-ovl {
  left: 783px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 276px;
}
.macbook-3 .x102482987-ovl-1 {
  left: 783px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 367px;
}
.macbook-3 .x102482987-ovl-2 {
  left: 783px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 458px;
}
.macbook-3 .x1kx {
  left: 443px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1946px;
}
.macbook-3 .x3095-eth {
  left: 467px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1009px;
}
.macbook-3 .telegram-512-1 {
  height: 31px;
  left: 458px;
  position: absolute;
  top: 493px;
  width: 30px;
}
.roboto-black-mine-shaft-36px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
}
.roboto-bold-bon-jour-24px {
  color: var(--bon-jour);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-mine-shaft-24px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-mine-shaft-36px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.roboto-normal-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-mine-shaft-16px-2 {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
}
.roboto-normal-mine-shaft-20px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-mine-shaft-24px {
  color: var(--mine-shaft);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --bon-jour: rgba(224, 224, 224, 1);
  --concrete: rgba(242, 242, 242, 1);
  --mine-shaft: rgba(51, 51, 51, 1);
}
